<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= form_with( model: [ @category, Product.new ], local: true, html: { style: 'margin-bottom: 20px' } ) do |form| %>
  <%= form.hidden_field :category_id, value: @category.id %>
  <div class="form-group">
    <%= form.text_field :name, class: 'form-control',  placeholder: 'Nombre' %>
  </div>
  <div class="form-group">
    <%= form.number_field :price, class: 'form-control', placeholder: 'Precio' %>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Delete item</th>
    </tr>
  </thead>
  <tbody>
  <% @category.products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-default' %> <%= link_to 'Back', categories_path, class: 'btn btn-primary' %>
